@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  /* font-family: "Roboto", "Oxygen", sans-serif; */
  font-family: "Baloo Da 2", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
  --orange-100: hsl(26, 83%, 50%);
  --orange-200: hsl(26, 83%, 54%);
  --orange-300: hsl(26, 83%, 57%);
  --orange-400: hsl(26, 83%, 61%);
  --orange-500: hsl(26, 83%, 64%);
  --orange-600: hsl(26, 83%, 68%);
  --yellow-100: hsl(47, 99%, 50%);
  --yellow-200: hsl(47, 99%, 54%);
  --yellow-300: hsl(47, 99%, 57%);
  --yellow-400: hsl(47, 99%, 61%);
  --yellow-500: hsl(47, 99%, 64%);
  --yellow-600: hsl(47, 99%, 68%);
  --green-100: hsl(174, 37%, 60%);
  --green-200: hsl(174, 37%, 63%);
  --green-300: hsl(174, 37%, 66%);
  --green-400: hsl(174, 37%, 69%);
  --green-500: hsl(174, 37%, 71%);
  --green-600: hsl(174, 37%, 74%);
  --blue-100: hsl(200, 67%, 55%);
  --blue-200: hsl(200, 67%, 58%);
  --blue-300: hsl(200, 67%, 62%);
  --blue-400: hsl(200, 67%, 65%);
  --blue-500: hsl(200, 67%, 68%);
  --blue-600: hsl(200, 67%, 71%);
  --brick-knobs-height: 18px;
}

body {
  height: 100dvh;
}

.logo {
  font-family: 'Bungee Shade', sans-serif;
  font-size: 2.5rem;
  padding: 1.5rem 3rem;
}

.title {
  font-family: 'Bungee Inline', sans-serif;
  font-size: 1.6rem;
}

.plate {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
  grid-template-rows: repeat(12, 2rem);
  align-items: center;
}

.knob {
  width: 1rem;
  height: 1rem; 
  border-radius: 50%;
  margin: auto;
  border: 1px solid var(--orange-100);
  box-shadow: inset 1px 1px rgba(255 255 255 / 0.3),
    1px 1px rgba(0 0 0 / 0.3);
}

.bloop {
  padding: .2rem;
  border-radius: 2px;
  border: 1px solid var(--orange-100);
  box-shadow: inset 2px 2px rgba(255 255 255 / 0.3),
    2px 2px rgba(0 0 0 / 0.3);
}

.brick {
  width: 300px;
  /* aspect-ratio: 2/1; */
  display: flex;
  flex-direction: column;
}

.brick-knobs {
  height: var(--brick-knobs-height);
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

.brick-knobs div {
  width: 45px;
  box-shadow: inset 2px 2px rgba(255, 255, 255, .5), inset -5px 0 rgba(0, 0, 0, .2);
  background: linear-gradient(90deg, var(--green-600) 40%, var(--green-300) 40%, var(--green-300) 60%, var(--green-100) 60%);
  border-radius: 5px 5px 0 0;
  border-width: 2px 2px 0 2px;
  border-color: var(--green-100);
}

.brick-base {
  width: 100%;
  height: 96px;
  border-radius: 5px 5px 2px 2px;
  border: 2px solid var(--green-100);
  box-shadow: inset 5px 5px rgba(255, 255, 255, .5), inset -15px 0 rgba(0, 0, 0, .1);
  background: linear-gradient(100deg, var(--green-300) 50%, var(--green-200) 50%, var(--green-200) 70%, var(--green-100) 70%);
}

.end-date {
  margin-top: calc(var(--brick-knobs-height) + 1px);
}